body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.watchface {
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.watchface img {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
}

.buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

a.install, a.source {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

a.install {
    background-color: #007bff;
}

a.install:hover {
    background-color: #0056b3;
}

a.source {
    background-color: #ff9800;
}

a.source:hover {
    background-color: #e68900;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .watchface img {
        width: 150px;
        height: 200px;
    }

    .buttons {
        gap: 5px;
    }

    a.install, a.source {
        padding: 5px 10px;
        font-size: 0.8em;
    }
}